alembic
annotated-types
certifi
charset-normalizer
chromium
dotenv
greenlet
idna
ijson
iniconfig
Mako
MarkupSafe
mirakuru
packaging
playwright
pluggy
port-for
psutil
psycopg
psycopg2-binary
pydantic
pydantic_core
pyee
Pygments
pytest
pytest-mock
pytest-postgresql
python-dotenv
requests
SQLAlchemy
SQLAlchemy-Utils
typing-inspection
typing_extensions
urllib3
